@import url(https://fonts.googleapis.com/css2?family=Signika+Negative:wght@100;200;300;400;500;600;700;800&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Signika Negative", sans-serif;
  color: white;
}

body {
  background-color: #1c1c1c;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.header {
  width: 100%;
  background-color: white;
}
.header__container {
  width: 80%;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.header__logo {
  min-width: 500px;
}
.header__logo img {
  width: 80px;
}
.header__menu {
  display: flex;
  justify-content: center;
}
.header__menu li {
  margin: 0.4rem;
  padding: 3rem 0.4rem;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}
.header__menu li.active {
  border-color: #0282f9;
}
.header__menu li.active a {
  color: #0282f9;
}
.header__menu li a {
  color: #0282f9;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}

.main {
  width: 100%;
}
.main__banner {
  width: 100%;
  height: 400px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main__series {
  width: 280px;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  background-color: #0282f9;
  position: absolute;
  left: 15%;
  bottom: -8%;
}
.main__container {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main__container .load-more-btn {
  margin-top: 2rem;
}
.main__container .load-more-btn a {
  padding: 0.8rem 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #0282f9;
  color: white;
}
.main .thumb {
  width: calc(16.6666666667% - 20px);
  margin: 0 10px;
}
.main .thumb__img {
  margin-top: 1rem;
  width: 100%;
  height: 70%;
}
.main .thumb__img img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}
.main .thumb a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.main .thumb a h3 {
  padding-top: 2rem;
  font-size: inherit;
  font-weight: inherit;
}
.main .thumb a:hover {
  text-decoration: underline;
}

.bonus-section {
  width: 100%;
  background-color: #0282f9;
}
.bonus-section .bonus__container {
  width: 60%;
  margin: 0 auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bonus-section .bonus__container ul {
  display: flex;
}
.bonus-section .bonus__container ul li {
  width: 20%;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.bonus-section .bonus__container ul li img {
  width: 80px;
  height: 70px;
}
.bonus-section .bonus__container ul li h3 {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: lighter;
}

.footer-top {
  width: 100%;
  height: 450px;
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.footer-top .footer-col {
  margin-right: 4rem;
}
.footer-top .footer-col-img {
  margin-left: 8rem;
}
.footer-top .footer-col-img img {
  position: relative;
  bottom: 60px;
}
.footer-top__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer-top__container .title {
  padding-top: 1.3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.footer-top__container ul {
  list-style: none;
}
.footer-top__container ul :first-child {
  margin-top: 0.8rem;
}
.footer-top__container ul li {
  padding: 0.25rem 0;
  font-size: 0.75rem;
}
.footer-top__container ul li a {
  text-decoration: none;
  font-weight: 100;
  color: white;
}

.footer-bottom {
  width: 100%;
  background-color: #303030;
}
.footer-bottom__container {
  width: 70%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom__container .sign-up-btn {
  min-width: 600px;
}
.footer-bottom__container .sign-up-btn a {
  padding: 0.8rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  border: 2px solid #0282f9;
  background-color: #303030;
  color: white;
}
.footer-bottom__container .follow-us-section {
  display: flex;
  align-items: center;
  color: #0a72d4;
}
.footer-bottom__container .follow-us-section h3 {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.footer-bottom__container .follow-us-section .img-section img {
  width: 30px;
  margin: 0 0.5rem;
}

.main__series_2 {
  width: 183px;
  padding: 0;
  font-size: 0;
  position: absolute;
  left: 15%;
  bottom: -8%;
  border: 2px solid white;
}
.main__series_2 img {
  width: 180px;
}

.blue_band {
  width: 100%;
  height: 70px;
  background-color: #0282f9;
}

.container-fluid {
  width: 100%;
  padding-top: 6rem;
  background-color: white;
  color: black;
}
.container-fluid .container {
  width: 70%;
  margin: auto;
  display: flex;
}
.container-fluid .container h1 {
  text-transform: uppercase;
  color: #003f5e;
}
.container-fluid .container .green_band {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: #55ba59;
  color: #abec72;
}
.container-fluid .container .green_band .white {
  color: white;
}
.container-fluid .container .green_band .left_col {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
.container-fluid .container .green_band .left_col .lighter {
  font-weight: lighter;
}
.container-fluid .container .green_band .right_col {
  min-width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container-fluid .container .green_band .right_col i {
  font-size: 0.75rem;
  color: white;
}
.container-fluid .container p {
  width: 90%;
  margin-top: 2rem;
  color: #666566;
}
.container-fluid .container .adv {
  text-align: right;
}
.container-fluid .container .adv img {
  width: 380px;
}
.container-fluid .container .adv_text {
  margin-bottom: 1rem;
  color: #585a5d;
}

.container-fluid_2 {
  padding: 1rem 0;
  margin-top: 2rem;
  border-top: 2px solid #e6e6e6;
  background-color: #f6f6f6;
}

.container_2 {
  width: 70%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-evenly;
}
.container_2 h2 {
  padding: 1rem 0;
  color: #003f5e;
}
.container_2 .table {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.container_2 .table div {
  width: 50%;
  margin: 1rem 0;
}
.container_2 .table div small {
  color: #0282f9;
}
.container_2 .table_2 {
  width: 300px;
  margin-top: 0;
}
.container_2 .table_2 div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.container_2 .table_2 .serie {
  color: #0282f9;
  text-transform: uppercase;
}
.container_2 .blue {
  color: #003f5e;
}

.border-top {
  border-top: 1px solid #e6e6e6;
}

.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

#placeholder {
  width: 100%;
  padding: 100px 0;
  font-size: 1.3rem;
  text-align: center;
  background-color: white;
  color: black;
}